# macOS
.DS_Store

# Xcode
## User-specific files
*.xcuserdatad
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

## Build generated
build/
DerivedData/

# Cache files
*.cache

# Secrets - IMPORTANT!
.gemini_api_key.cache

# Databases
*.db
*.sqlite3

# Other data files
*.json


